﻿@model List<FileInfo>

@{
    ViewBag.Title = "Downloads";
}

<h2>Downloads</h2>


@if (!string.IsNullOrWhiteSpace(TempData["Messages"] as string)) {
    <p>
        <b>Error Message:</b> @TempData["Messages"]
    </p>
}


@if (!string.IsNullOrWhiteSpace(TempData["LastUploadFilename"] as string)) {
    <p>
        <b>Most recently converted file:</b> @TempData["LastUploadFilename"] @Html.ActionLink("Download", "Download", new {FileName = TempData["LastUploadAbsPath"]})
    </p>
}


<table id="example" class="table table-striped table-bordered">
    <tr>
        <th>File Name</th>
        <th>Created</th>
        <th></th>
        <th></th>
    </tr>

    @* TODO - file size, date processed / stored on server.... i.e. show some of the file properties! *@

    @for (var i = 0; i <= Model.Count - 1; i++) {
        <tr>
            <td>@Path.GetFileName(Model[i].FullName) </td>
            <td>@Model[i].CreationTime</td>
            <td>@Html.ActionLink("Download", "Download", new {FileName = Path.GetFileName(Model[i].FullName)}) </td>
            <td>@Html.ActionLink("Delete", "Delete", new {FileName = Path.GetFileName(Model[i].FullName)}) </td>
        </tr>
    }
</table>

