﻿@model svftocsv_converter.Models.SvfFileUploadModel

@{
    ViewBag.Title = "Index";
}

<h2>Upload</h2>


@using (Html.BeginForm("Convert", "ConvertSvfToCsv", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                @Html.LabelFor(m => m.File)
            </div>
        </div><!-- /.col -->

        <div class="col-md-4">
            <div class="form-group">
                <input type="file" name="file" id="file" onchange="setInitialValues(this.value)" accept=".svf" />
            </div>
        </div><!-- /.col -->
    </div>


    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                @Html.LabelFor(m => m.ColorBarName)
            </div>
        </div><!-- /.col -->

        <div class="col-md-3">
            <div class="form-group">
                @Html.TextBoxFor(m => m.ColorBarName, new { id = "colorBarName", style = "width: 300px;", required = "required", pattern = @"^([a-zA-Z0-9 _-]+)$", title = "Only use alphanumeric characters, space and [_, -]." })
            </div>
        </div>

        <div class="col-md-1">
            <div class="form-group">
                <input type="button" onclick="setControlValueToFilename('#colorBarName')" value="Use filename" />
            </div>
        </div>
    </div>
    <!-- /.col -->


    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                @Html.LabelFor(m => m.ColorBarDescription)
            </div>
        </div><!-- /.col -->

        <div class="col-md-3">
            <div class="form-group">
                @Html.TextBoxFor(m => m.ColorBarDescription, new { id = "colorBarDescription", style = "width: 300px;", pattern = @"^([a-zA-Z0-9 _-]+)$", title = "Only use alphanumeric characters, space and [_, -]." })
            </div>
        </div>

        <div class="col-md-1">
            <div class="form-group">
                <input type="button" onclick="setControlValueToFilename('#colorBarDescription')" value="Use filename" />
            </div>
        </div>
    </div>
    <!-- /.col -->


    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                @Html.LabelFor(m => m.PatchHeight)
            </div>
        </div><!-- /.col -->

        <div class="col-md-4">
            <div class="form-group">
                @Html.TextBoxFor(m => m.PatchHeight, new { style = "width: 80px;", type = "number", min = "0", step = "0.001" })
            </div>
        </div>
    </div>
    <!-- /.col -->


    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                @Html.LabelFor(m => m.EmailRecipients)
            </div>
        </div><!-- /.col -->

        <div class="col-md-3">
            <div class="form-group">
                @Html.TextBoxFor(m => m.EmailRecipients, new { style = "width: 300px;" })
            </div>
        </div>
    </div>
    <!-- /.col -->


    <div>
        <button type="submit" class="btn btn-primary">Convert!</button>
        @Html.ActionLink("All Processed Files", "Downloads", null, new { @class = "btn btn-default" })
    </div>
}


<script>
    function setcontrolToValue(control, value) {
        $(control).val(value);
    }

    function getFilenameFromPath(path) {
        var re = /([\w\d_-]*)\.?[^\\\/]*$/i;
        var filename = path.match(re)[1];
        return filename;
    }

    function setControlValueToFilename(control) {
        var files = $("#file").get(0).files;
        var selectedFile = files[0];
        var filename = getFilenameFromPath(selectedFile.name);
        setcontrolToValue(control, filename);
    }

    function setInitialValues(value) {
        var defaultColorBarName = @Html.Raw(Json.Encode(Model.DefaultColorBarName));
        var defaultColorBarDescr = @Html.Raw(Json.Encode(Model.DefaultColorBarDescription));

        if ($("#colorBarName").val() === defaultColorBarName) {
            setControlValueToFilename(setcontrolToValue('#colorBarName', getFilenameFromPath(value)));
        }

        if ($("#colorBarDescription").val() === defaultColorBarDescr) {
            setControlValueToFilename(setcontrolToValue('#colorBarDescription', getFilenameFromPath(value)));
        }
    }
</script>